<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="style-layout-7.css">
    <link rel="stylesheet" href="fonts/roboto/fonts.css">
    <title>Hello, world!</title>
</head>

<body>
    <header>
        <div class="header pt-5">
            <div class="container ">

                <div class="row  ">
                    <div class="col-lg-8 ">

                        <div class="col-lg-12   position-relative  flat fw-normal fs-1 text-white">
                            Flat mate

                        </div>


                        <div class="col-lg-12   mt-lg-5 pt-lg-5">
                            <h1 class="display-4 text-white mt-5 pt-5">Lorem ipsum dolor sit amet</h1>


                        </div>
                        <div class="col-lg-8  mt-lg-5">
                            <p class="fs-3  text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.</p>

                            <a href="" class="btn btn-success button fs-4 mt-lg-5  btn-lg">Read more</a>
                        </div>

                    </div>
                    <div class="col-lg-4 ">

                        <div class="col-lg-12   position-relative  fst-italic account fs-5 text-lg-end">
                            <p class="color-acc">Have an Account ? <a href="#"
                                    class="badge badge-secondary bcc text-decoration-none text-uppercase ">Login</a></p>

                        </div>


                        <div class="col-lg-12   position-relative  mt-lg-5 pt-lg-5">
                            <img class="talks mt-lg-5 pt-lg-5" src="img/talks.png" alt="">

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </header>
    <section>
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-3"><img class="title" src="img/title.png" alt=""></div>
                <div class="col-lg-6 pt-lg-5">
                    <h1 class="display-5 mt-3 mt-lg-0">Lorem ipsum dolor sit amet</h1>
                    <p class="display-2 fs-4 mt-3 mt-lg-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                </div>



                <div class="col-lg-3 d-flex flex-lg-column flex-wrap pt-lg-5 align-items-lg-end justify-lg-content-start">
                    <a href="#" class=""><img class="pan-and-f " src="img/pan.png" alt=""></a>
                    <a href="#" class=""><img class="pan-and-f mt-lg-5 " src="img/layers.png" alt=""></a>


                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel ">
            <div class="carousel-inner">
                <div class="carousel-item  height pt-5 mt-5">
                    <img src="img/scrin1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item height pt-5 mt-5">
                    <img src="img/scrin2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item height pt-5 mt-5">
                    <img src="img/scrin3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item height-2 active modern-bcc pt-5 mt-5 ">

                    <div class="container d-flex justify-content-center pt-5 position-relative">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="fs-1 text-white">The Modern Era of Web Designing</h2>
                                <p class="text-white fw-light fs-5">We make wireframe ultra fast,leak proof</p>
                            </div>

                            <img class="site position-absolute" src="img/site.png" alt="">

                        </div>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev pt-5 mt-5" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next pt-5 mt-5" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>

    </section>
    <section class="bc-color pb-5">
        <div class="container  d-flex justify-content-center  flex-column position-relative">
            <div class="row pt-5 d-flex  justify-content-center">

                <div class="col-lg-12  mt-lg-5 text-center">
                    <h2 class="fw-medium fs-2">A wireframe is the primitive skeleton of your website.</h2>

                </div>
                <div class="col-lg-6 fs-5 text-center">
                    Pick a plan from below to get started! Already 20000+ websites and webprojects
                    have been successfully wireframed with HotGloo.
                </div>

            </div>
            <div class="row  d-flex  justify-content-center p-1">
                <div class="col-lg-3  m-1">
                    <div class="d-flex flex-column bd-highlight justify-content-center text-center border">
                        <div class=" bd-highlight   p-3 bg-one text-white fs-4">Free</div>
                        <div class=" bd-highlight   p-3 fw-bold fs-3 bg-one-m">$0/Month</div>
                        <div class=" bd-highlight   p-3 text-secondary fs-4 bg-one-m">1 Project</div>
                        <div class=" bd-highlight   p-3 text-secondary fs-4 bg-one-m">5 Members</div>
                        <div class=" bd-highlight   p-3 text-secondary fs-4 bg-one-m">5 GB</div>

                    </div>
                </div>
                <div class="col-lg-3  m-1">

                    <div class="d-flex flex-column bd-highlight justify-content-center text-center">
                        <div class=" bd-highlight   p-3 position-relative bg-two text-white fs-4">Professional
                            <img class="img-absolu position-absolute" src="img/checked.png" alt="">
                        </div>
                        <div class=" bd-highlight   p-3 bg-two-m text-success fw-bold fs-3">$50/Month</div>
                        <div class=" bd-highlight   p-3 bg-two-m text-secondary fs-4">20 Project</div>
                        <div class=" bd-highlight   p-3 bg-two-m text-secondary fs-4">50 Members</div>
                        <div class=" bd-highlight   p-3 bg-two-m text-secondary fs-4">100 GB</div>

                    </div>

                </div>
                <div class="col-lg-3  m-1">
                    <div class="d-flex flex-column bd-highlight justify-content-center text-center">
                        <div class=" bd-highlight   p-3 bg-info bg-three fs-4 text-white">Enterprise</div>
                        <div class=" bd-highlight   p-3 fw-bold fs-3 text-info bg-three-m">$90/Month</div>
                        <div class=" bd-highlight   p-3 text-secondary fs-4 bg-three-m">Unlimitted</div>
                        <div class=" bd-highlight   p-3 text-secondary fs-4 bg-three-m">Unlimitted</div>
                        <div class=" bd-highlight   p-3 text-secondary fs-4 bg-three-m">500 GB</div>

                    </div>
                </div>
            </div>

            <div class="row  d-flex  justify-content-center p-1 mt-5">

                <div class="col-lg-3  m-1">
                    <div class="d-flex flex-column bd-highlight justify-content-center text-center border">
                        <a href="#" class="text-white text-decoration-none">
                            <div class=" bd-highlight   p-3 bg-one text-white fs-4"> Sign Up</div>
                        </a>


                    </div>
                </div>
                <div class="col-lg-3  m-1">
                    <div class="d-flex flex-column bd-highlight justify-content-center text-center">
                        <a href="#" class="text-white text-decoration-none">
                            <div class=" bd-highlight   p-3  bg-two fs-4">Buy Now</div>
                        </a>


                    </div>
                </div>
                <div class="col-lg-3  m-1">
                    <div class="d-flex flex-column bd-highlight justify-content-center text-center">
                        <a href="#" class="text-white text-decoration-none">
                            <div class=" bd-highlight   p-3 bg-info bg-three fs-4 text-white">Sign Up</div>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-wireframe ">
        <div class="container  d-flex justify-content-center ">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h2 class="fw-medium fs-2 lh-wireframe">A wireframe is the primitive skeleton of your website.</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="h">
        <div class="container-fluid h-100 no-padding">
            <div class="embed-responsive embed-responsive-16by9 sec-height">
                <iframe src="https://www.youtube.com/embed/EQNZVfGbaBU" class="embed-responsive-item " width="100%"
                    height="100%" allowfullscreen></iframe>
            </div>
        </div>

    </section>
    <footer>
        <section class="pb-5 gray-bcc">
            <div class="container pb-5">
                <div class="row">
                    <div class="col-lg-12 text-center mt-5 mb-5">
                        <img src="img/mail.png" width="280px" height="280px" alt="">
                    </div>
                    <div class="col-lg-6 d-flex flex-column  mt-5">
                        <form action="#" class="form ">
                            <h3 class="text-white mb-4"> <label for="user_name">Name</label> </h3>
                            <input type="text" name="username" id="user_name" class="w-75  fs-3 ">

                        </form>
                        <form action="#" class="form ">
                            <h3 class="text-white   mt-5"> <label for="user_email">E-Mail</label> </h3>
                            <input type="email" name="useremail" id="user_email" class="w-75  fs-3 ">
                        </form>

                    </div>
                    <div class="col-lg-6 form mt-5">
                        <h3 class="text-white mb-4"> <label for="text_area">Message</label> </h3>
                        <textarea name="Message" id="text_area" class="message-area  border-secondary rounded w-100 " ></textarea>
                        <div class="col-lg-12 text-white d-flex justify-content-end mt-5">
                            <button type="submit" class=" btn-danger btn-lg text-uppercase w-25 fs-4 fw-bold lh">send</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-dark p-5">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="d-flex flex-row flex-nowrap position-relative   fw-normal  text-white justify-content-lg-start ">
                            <div class="fs-3 d-flex w-50"> <div class="flat-2 "></div> Flat mate |</div> <div class="fs-5  text-secondary pt-2 w-100">Designed By WWW. CSSAUTHOR.COM</div>

                        </div>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-lg-end mt-5 mt-lg-0">
                        <a href="#" class="margin-right"><img  src="img/bird2.png" alt=""></a>
                    <a href="#" class=""><img  src="img/facebook2.png" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>


</body>

</html>