<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-layout-second.css">
    <link rel="stylesheet" href="fonts/opensans/opensans2.css">
</head>

<body>
    <header>
        <div class="container">
            <div>
                <h2>Пупкин Василий Иванович</h2>
            </div>
            <nav>
                <div class="dashed">
                    A
                </div>
                <div><a href="#" class="solid">Резюме</a></div>
                <div><a href="#" class="solid">Портфолио</a></div>
                <div><a href="#" class="solid">Проекты</a></div>
                <div><a href="#" class="solid">Контакты</a></div>
            </nav>
            <div class="about-me shadow-text">
                Обо мне
            </div>
            <div class="description-about-me">
                <div class="img-cont"
                    style="background-image: url('https://www.zastavki.com/pictures/640x480/2011Animals___Cats_Cat_in_the_glasses_032992_29.jpg');">
                    <img class="img"
                        src="https://www.zastavki.com/pictures/640x480/2011Animals___Cats_Cat_in_the_glasses_032992_29.jpg"
                        alt="">
                </div>
                <div class="text-about-me">
                    <div class="grad-block">
                        Пара слов про меня
                    </div>
                    <div class="Lorem-about-me">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nesciunt recusandae
                        voluptatibus aspernatur quisquam fuga quas dolores sit adipisci, quam consequatur temporibus
                        natus perferendis consectetur a, voluptate omnis soluta eveniet?
                    </div>
                    <div class="Lorem-about-me-bcg">
                        <div class="padding-lorem">
                            <div class="Lorem-style">
                                "Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum iusto
                                molestiae!
                                Voluptates beatae ut quasi, odio ad numquam aliquam sunt delectus possimus, ipsa quo
                                aspernatur libero nam."
                            </div>

                            <div class="pupkin">
                                Иван Пупкин, <b>Web Designer</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skils">
                <div class="left-skils">
                    <div class="my-skils">
                        Мои навыки
                    </div>
                    <div class="tools">
                        <div class="photoshop tools-properties">Photoshop</div>
                        <div class="html tools-properties">HTML</div>
                        <div class="css tools-properties">CSS</div>
                        <div class="java-script tools-properties">JavaScript</div>
                        <div class="angular tools-properties">Angular</div>

                        <div class="line">
                            <div class="line-div"></div>
                            <div class="line-div"></div>
                            <div class="line-div"></div>
                            <div class="line-div"></div>
                            <div class="line-div"></div>
                        </div>
                        <div class="line">
                            <div class="line-numb">1</div>
                            <div class="line-numb">2</div>
                            <div class="line-numb">3</div>
                            <div class="line-numb">4</div>
                            <div class="line-numb">5</div>
                        </div>
                    </div>
                </div>
                <div class="right-skils">
                    <div class="my-skils">
                        Что я делаю
                    </div>
                    <div class="ul">
                        <ul>
                            <li>
                                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates
                                    rem.</div>
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates rem.
                            </li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates rem.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates rem.
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur voluptates rem.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bottom-section">
                <div class="img-2">
                    <img src="https://w1.pngwing.com/pngs/481/257/png-transparent-circle-icon-github-icon-black-cat-cartoon-silhouette-small-to-mediumsized-cats-tail.png"
                        alt="">
                </div>
                <div class="lorem-bottom">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis repellat hic sed! Doloribus,
                    nihil doloremque architecto dolorum id praesentium commodi autem repellendus laboriosam accusantium
                    minima obcaecati similique vitae adipisci molestiae!
                </div>
            </div>

        </div>
        <footer class="footer">
            <div class="contacts">
                <div class="cont">КОНТАКТЫ</div>
                <div class="margin-top">
                    <div class="underline">e-mail: vasia@i.ua</div>
                    <div class="underline">моб. +380990001122</div>
                </div>
            </div>
            <div class="network">
                <div class="social">СОЦСЕТИ</div>
                <div class="margin-top">
                    <div class="underline"><a href="">facebook</a></div>
                    <div class="underline"><a href="">vk</a></div>
                    <div class="underline"><a href="">linkedin</a></div>
                </div>
            </div>
            <div class="footer-grad">
                <div class="text-grad">Lorem<br>ipsu</div>
            </div>

            <div class="hillel">
                Hillel, 2021
            </div>
        </footer>
    </header>
</body>

</html>