*{
    margin: 0;
    padding: 0;
    font-family: "OpenSans";
    
}
header {
    background-color: #d2d2d2;
    
    
}
.container {
    width: 1280px;
    margin:0 auto;
    box-sizing: border-box;
    background-color:white;
    padding: 86px 102px 0 106px;
    
}
.container h2{
    font-size: 25px;
    font-weight: normal;
}
.container nav{
    
    
    text-transform: uppercase;
    font-size: 16px;
    
    
    
}
.dashed {
    border-bottom: 2px dashed black;
    box-sizing: border-box;
    width: 620px;
    color: white;
}
.container nav div{
    display: inline-block;
}

.active {
    border-bottom: 2px solid black;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    color: black;
    padding-right: 17px;
    text-align: justify;
}
nav{
    transition: border-bottom 1s linear, transform 1s linear, text-shadow 1s linear;
}
.solid {
    text-decoration: none;
    font-size: 17px;
    color: black;
    border-bottom: 2px dashed black;
    padding-right: 17px;
    text-align: center;
    
}
.solid:hover {
    border-bottom: 2px solid black;
    transform: scale(1.3);
    text-shadow: 1px 1px 20px black;
    transition-duration: 1s;
    color: #ccc;
}
.about-me {
    animation-name: hihi;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    padding-top: 60px;
    padding-bottom: 10px;
    line-height: 36px;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bolder;
    
    vertical-align:bottom;

}
@keyframes hihi{
    from {
        transform:translate(0px);
    }
    to {
        transform:translate(750px);
    }
}
.shadow-text {
    text-shadow: 4px 6px #d2d2d2;
  
}
.description-about-me {
    padding-top:60px;
    display: inline-block;
    border-top:6px solid black ;
    border-bottom: 3px solid black;
    padding-bottom: 45px;
    position: relative;
    
    z-index:1;
}
.img-cont {
    display: inline-block;
    width: 390px;
    height: 295px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top;
    transition: 1s transform ease-in
}
.img-cont:hover {
    transform: scale(1.2);
}
.img {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.text-about-me {
    display: inline-block;
    vertical-align: top;
    padding-left: 46px;
    
}
.grad-block {
    width: 360px;
    height: 50px;
    color: white;
    background-image: linear-gradient(-230deg, black 85.3%, white 85.3%);
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 15px;
    transition: width 1s linear;
}
.grad-block:hover{
    width: 610px;
    text-shadow: 1px 1px 20px red;
    cursor: pointer;
    }

.Lorem-about-me {
    
    width: 600px;
    padding-top: 38px;
    line-height: 28px;
    font-size: 24px;
    font-weight: normal;
}
.Lorem-about-me-bcg {
    width: 625px;
    
    background-color: #d2d2d2;
    height: 155px;
    margin-top: 25px;
    padding-bottom: 27px;
    transition: 1s transform ease-in;
}
.Lorem-style{
    font-style: italic;
    
    font-size: 18px;
}
.padding-lorem {
    padding: 33px 27px 0px 23px;
    
}
.Lorem-about-me-bcg:hover {
    transform: scale(1.2);
}
    
.pupkin {
    padding-top: 27px;
    text-align: right;
    
    font-size: 18px;
}
.skils {
    margin-top: 52px;
    border-bottom: 3px solid black;
    
    padding-bottom: 45px;
    box-sizing: border-box;
}
.left-skils{
    display: inline-block;
    margin-right:40px;
    box-sizing: border-box;
}
.my-skils {
        width: 210px;
        height: 50px;
        color: white;
        background-image: linear-gradient(-230deg, black 85.3%, white 85.3%);
        font-size: 24px;
        font-weight: bold;
        line-height: 50px;
        padding-left: 15px;
        transition:width 1s linear;
    }
    .my-skils:hover {
       width: 450px;
       text-shadow: 1px 1px 20px red;
       cursor: pointer;
    }
    .tools {
        margin-top: 27px;
        transition: width 1s linear;
    }
.tools-properties{
    background-color:transparent;
    font-style: italic;
    font-size: 24px;
    font-weight: normal;
    line-height: 42px;
    padding-left:17px;
    box-sizing: border-box;
    margin-bottom: 10px;
    cursor: pointer;
}
.photoshop {
   transition: width 1s linear;
    
}
.photoshop:hover {
    width: 405px;
    animation-name: photo;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    background-color:#d2d2d2;
}
@keyframes photo{
    from{
        width:0px;
    }
    to {
        width: 405px;
    }
}
.html {
    width: 495px;
}
.html:hover {
   
    animation-name: html;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    background-color:#d2d2d2;
}
@keyframes html{
    from{
        width:0px;
    }
    to {
        width:495px;
    }
}
.css{
    width: 495px;
}
.css:hover {
   
    animation-name: css;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    background-color:#d2d2d2;
}
@keyframes css{
    from{
        width:0px;
    }
    to {
        width: 495px;
    }
}
.java-script {
    width: 405px;
}
.java-script:hover {
   
    animation-name: javascript;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    background-color:#d2d2d2;
}
@keyframes javascript{
    from{
        width:0px;
    }
    to {
        width: 405px;
    }
}
.angular {
    width: 300px;
}
.angular:hover {
   
    animation-name: angular;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    background-color:#d2d2d2;
}
@keyframes angular{
    from{
        width:0px;
    }
    to {
        width: 300px;
    }
}
.line{
    width: 530px;
    
    border-collapse: collapse;
    line-height: 20px;
    box-sizing: border-box;
    display: flex;
}
.line-div {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: inline-block;
    width: 98px;
    height: 18px;
    
   }
   .line-numb {
    display: inline-block;
    width: 100px;
    height: 18px;
    text-align: right;
    }

    .right-skils{
        width: 490px;
        display: inline-block;
       
        vertical-align: top;
        
        
    }
    .ul {
        padding-left: 38px;
       
    }
   .ul li {
       box-sizing: border-box;
      padding-top: 7px;
       
    font-size: 20px;
    font-weight: 300;
   }

   .bottom-section {
      box-sizing: border-box;
      padding-left: 54px; 
      padding-bottom:10px;
   }
   .img-2 {
       width: 180px;
       height: 175px;
       border-radius: 50%;
       overflow: hidden;
       display: inline-block;
       transform-origin:x;
       animation-name: rotate;
       animation-duration: 2s;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
   }
   @keyframes rotate{
         from{
             transform: rotateY(0turn);
         }
         to{
            transform: rotateY(1turn);
         }
   }
   .img-2 img {
    width: 180px;
       }
       .lorem-bottom {
        display: inline-block;
        vertical-align: top;
        margin-left: 47px;
        width: 783px;
        box-sizing: border-box;
        
        margin-top: 32px;
        font-size: 18px;
    font-weight: 200;
       }
.footer {
   background-color: #fff;
    padding: 46px 123px 33px 123px;
    width: 1280px;
    margin:0 auto;
    box-sizing: border-box;
   background-color: black;
   transition: background-image 2s linear;
}
.contacts {
    color:white;
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    margin-right: 68px;
    
}
.cont:hover{
    text-shadow: 1px 1px 5px red;
cursor: pointer;
}
.social:hover {
text-shadow: 1px 1px 5px red;
cursor: pointer;
}
.underline:hover {
    text-shadow: 1px 1px 5px red;
}
.margin-top{
    margin-top: 20px;
}
.network{
    color:white;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    margin-right: 140px;
}
.underline{
    cursor: pointer;
}
.underline a{
   color: white;
}
.footer-grad {
    background-color: #fff;
    display: inline-block; 
    width: 355px;
    height: 355px;
    
    color: white;
    line-height: 25px;
    background-image: radial-gradient(circle, white 45%, black 45%, black 60%, white 60%);
border-radius: 50%;
z-index: 4;
transition: background-image 2s linear;
}
.footer-grad:hover {
    background-image: radial-gradient(circle, #ccc 45%, red 45%, red 60%, #ccc 60%); 
    transition-duration:2s;
}
.text-grad {
    margin:150px 125px;
    color: black;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    line-height: 30px;
}
.hillel {
    color: white;
    font-size: 24px;
}


  
