<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 6</title>
    <link rel="stylesheet" href="style-layout-6.css">
</head>

<body>
    <div class="container">
        <div class="top-flex">
            <div class="top-side">
                Innovations<a>ADM</a>
            </div>
            <div class="top-side-2">
                <img src="img/menu-bar-png-7-300x200.png" alt="">
                <ul>
                    <li><img src="img/ab4651f0.png" alt=""></li>
                    <li><img src="img/teamwork-clipart-consultancy-11.png" alt=""></li>
                    <li><img src="img/ab4651f0.png" alt=""></li>

                    <li><img src="img/teamwork-clipart-consultancy-11.png" alt="">Administrator</li>
                </ul>

            </div>
        </div>
        <div class="main-side">
            <aside class="aside">
                <div class="flex-aside">
                    <img class="aside-img" src="img/teamwork-clipart-consultancy-11.png" alt="">
                    <div class="aside-adm">
                        <p>Administrator</p>
                        <ul>
                            <li>
                                <div class="green"></div> online
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-nav">main navigation</div>
                <ul>
                    <li><a href=""><img src="img/ab4651f0.png" alt=""> Admins <p class="a-text">&#60</p></a></li>
                    <li><a href=""><img src="img/ab4651f0.png" alt="">Users <p class="a-text">&#60</p></a></li>
                    <li><a href=""><img src="img/ab4651f0.png" alt="">Cards <p class="a-text">&#60</p></a></li>
                    <li><a href=""><img src="img/ab4651f0.png" alt="">Categories <p class="a-text">&#60</p></a></li>
                </ul>
            </aside>

            <main class="main">
                <div class="profile">
                    <div class="profile-txt">
                        <p class="font24">Profile</p>
                    </div>
                    <div class="admins">
                        <ul>
                            <li>
                                <a href=""><img src="img/ab4651f0.png" alt=""> Admins</a>
                            </li>
                            <li><a href="">
                                    <p> &#62</p> Profile
                                </a></li>

                        </ul>
                    </div>
                </div>
                <div class="form-flex">
                    <div class="form">
                        <div class="form-top">
                            <p class="form-p">Edit Username</p>

                            <form class="margin-form" action="#">
                                <label class="name-absolu" for="name-1">New username</label>
                                <input class="form-atr" id="name-1" type="name" placeholder="Username">
                                <img src="img/56860.png" class="form-img" alt="">
                            </form>

                            <form class="margin-form" action="#">
                                <label class="name-absolu" for="pass-1">Password</label>
                                <input class="form-atr" id="pass-1" type="password" placeholder="Password">
                                <img src="img/56860.png" class="form-img" alt="">
                            </form>
                        </div>
                        <div class="submit-box">
                            <form action="#">
                                <input class="submit" type="submit">
                            </form>
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-top">
                            <p class="form-p">Edit Username</p>

                            <form class="margin-form" action="#">
                                <label class="name-absolu" for="name-2">New username</label>
                                <input class="form-atr" id="name-2" type="name" placeholder="Username">
                                <img src="img/56860.png" class="form-img" alt="">
                            </form>

                            <form class="margin-form" action="#">
                                <label class="name-absolu" for="pass-2">Password</label>
                                <input class="form-atr" id="pass-2" type="password" placeholder="Password">
                                <img src="img/56860.png" class="form-img" alt="">
                            </form>
                        </div>
                        <div class="submit-box">
                            <form action="#">
                                <input class="submit" type="submit">
                            </form>
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-top">
                            <p class="form-p">Edit password</p>

                            <form class="margin-form" action="#">
                                <label class="name-absolu" for="pass-3">Old password</label>
                                <input class="form-atr" id="pass-3" type="password" placeholder="Username">
                                <img src="img/56860.png" class="form-img" alt="">
                            </form>

                            <form class="margin-form" action="#">
                                <label class="name-absolu" for="pass-4">New Password</label>
                                <input class="form-atr" id="passw-4" type="password" placeholder="Password">
                                <img src="img/56860.png" class="form-img" alt="">
                            </form>
                            <form class="margin-form" action="#">
                                <label class="name-absolu" for="pass-5">Confirm password</label>
                                <input class="form-atr" id="pass-5" type="password" placeholder="Password">
                                <img src="img/56860.png" class="form-img" alt="">
                            </form>
                        </div>
                        <div class="submit-box">
                            <form action="#">
                                <input class="submit" type="submit">
                            </form>
                        </div>
                    </div>
                    <div class="form height-form">
                        <div class="form-top">
                            <p class="form-p">Edit password</p>
                            <div>
                                <form action="#">

                                    <input class="chose-file" id="file" type="file"><label for="file">Please open the
                                        image</label>
                                </form>

                            </div>

                        </div>
                        <div class="submit-box">
                            <form action="#">
                                <input class="submit" type="submit">
                            </form>
                        </div>
                    </div>

                </div>
                <div class="profile margin-bottom">
                    <p class="font12">Develop by <a>onCreate Studio </a> 2015</p>
                    <p>Version 1.0</p>
                </div>
            </main>
        </div>
    </div>
</body>

</html>