<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hexagons</title>
    <link rel="stylesheet" href="style-hexagons.css">
</head>

<body>
    <div class="content ">
        <span class="this">this page is</span>
        <span class="your">your</span>
        <span class="hometask">hometask</span>
        <div class="box-1">
            <div class="hexagons p-1 "></div>
            <div class="hexagons p-2 "></div>
            <div class="hexagons p-3"></div>

        </div>
        <div class="box-2">
            <div class="hexagons-2 p-4"></div>
            <div class="hexagons-2 p-5"></div>
            <div class="hexagons-2 p-6"></div>
        </div>
        <div class="box-3">
           <div class="hexagons-3 p-7"></div>
            <div class="hexagons-3 p-8"></div>
        </div>
        <div class="box-4">
            <div class="hexagons-4 p-9"></div>
            <div class="hexagons-4 p-10"></div>
            <div class="hexagons-4 p-11"></div>
            
        </div>
        <div class="box-5">
            <div class="hexagons-3 p-12"></div>
            
            <div class="hexagons-3 p-13"></div>
            
        </div>
        <div class="box-6">
            <div class="hexagons-2 p-14"></div>
            
            <div class="hexagons-2 p-15"></div>
            
        </div>
        <div class="box-7">
            <div class="hexagons p-16"></div>
            
            <div class="hexagons p-17"></div>
            <div class="hexagons p-18"></div>
            
        </div>
        <div class="box-8">
            
            
            <div class="hexagons-5 p-19"></div>
            <div class="hexagons-5 p-20"></div>
            
        </div>
    </div>
</body>

</html>