<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-layout-third.css">
    <link rel="stylesheet" href="fonts/poppins/poppins.css">
    <link rel="stylesheet" href="fonts/Playfair Display/playfair-display.css">
</head>

<body>
    <div class="header">
        <header>
            <div class="mercy">
                <h2>Marcy..</h2>
            </div>
            <div class="story">
                <div>story</div>
            </div>

        </header>
        <section>
            <div class="left-bar">
                <span class="travel">travel</span>
                <div class="left-bar-text-1">Nullam id dolor id nibh ultricies vehicula ut id elit. </div>
                <div class="left-bar-text-2">Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis
                    interdum. Donec id elit non mi porta gravida at eget metus.</div>
                <div class="left-bar-text-3">Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus,
                    porta ac consectetur ac, vestibulum at eros.</div>

            </div>
            <div class="right-bar">

                <div class="mountains"></div>
                <div class="block-in-mountains"></div>

            </div>
            <div class="button margin-142"><a href="#">full story &#8594</a></div>

        </section>
        <section class="section-2">
            <div class="left-bar-2">
                <div class="grey-block"></div>
                <div class="vin-diesel">
                    <div class="vin-diesel-text">“Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta
                        felis euismod semper. Curabitur blandit tempus porttitor”</div>
                    <div class="vin-diesel-in">VEN diesel 1962-2006</div>
                    <div class="button z-index"><a href="#">full story &#8594</a></div>
                </div>
                <div class="diagonal-line"></div>
                <div class="diagonal-line2"></div>
                <span class="quote">quote</span>
                <span class="section-2-lorem">Nullam id dolor id nibh ultricies vehicula elit. </span>
                
            </div>
        </section>
        <footer class="section-3">
            <div class="updates">
                <span>Like what you're reading? Get weekly updates that will help you grow as a designer.</span>
                <form action="#" method="GET">
                    <div class="input-name">
                        <input class="name" type="text" placeholder="name">
                    </div>
                </form>
                <form action="#" method="GET">
                    <div class="input-email">
                        <input class="email" type="email" placeholder="email">
                    </div>
                </form>
                <form action="#" method="GET">
                    <div class="subscribe">
                        <input class="submit" type="submit" value="Subscribe &#8594">
                    </div>
                </form>
            </div>
        </footer>
    </div>
</body>

</html>