<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-layout4.css">
</head>

<body>

    <header>

        <div class="header-left">
            <div class="circle">
                <img src="__8.png" alt="">
            </div>
            <div class="prechu">
                Prechu
            </div>
        </div>
        <div class="header-right">
            <div class="burger">
                <div class="block-line">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <a href="#">
                <div class="menu">Home</div>

            </a>
            <a href="#">
                <div class="menu">Product</div>

            </a>
            <a href="#">
                <div class="menu">Services</div>

            </a>
            <a href="#">
                <div class="menu">Contact</div>

            </a>
        </div>
    </header>
    <section class="section-1">
        <div class="smaller">
            <img src="layer_4_75.png" alt="">
        </div>
        <img src="iphone_215.png" class="iphone" alt="">
        <div class="lorem-right">
            <p class="fs-42px">Lorem Ipsum is simply</p>
            <p class="fs-26px">dummy text of the</p>
            <p class="fs-26px">printing & typesetting</p>
            <div class="button">
                <div class="check-img">
                    <img src="shape_2_84.png" alt="">
                </div>
                <div class="sign">Sign up now</div>
            </div>

        </div>
        <div class="bigger"><img src="bigger.png" alt=""></div>
    </section>
    <section class="section2">
        <div class="left">
            <div class="paint color-left">
                <img class ="pan"src="paint.png" alt="">
            </div>
            <div class="all-text">
                <p class="contrary">Contrary to popular</p>
                <div class="ipsu">
                    Lorem Ipsum is not simply random text. It has roots in a place
                </div>
            </div>
        </div>
        <div class="center">
            <div class="paint color-center">
                <img class ="comp" src="computer.png" alt="">
            </div>
            <div class="all-text">
                <p class="contrary">Contrary to popular</p>
                <div class="ipsu">
                    Lorem Ipsum is not simply random text. It has roots in a place
                </div>
            </div>
        </div>
        <div class="right">
            <div class="paint color-right">
                <img class ="bagg"src="bag.png" alt="">
            </div>
            <div class="all-text">
                <p class="contrary">Contrary to popular</p>
                <div class="ipsu">
                    Lorem Ipsum is not simply random text. It has roots in a place
                </div>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="left-side3">
            <p class="shopping">The Shopping cart</p>
            <img src="cart_69.png" alt="">
        </div>
        <div class="right-side3">
            <p class="bullet">Some Bullet text here</p>
            <p class="bullet-lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem hic,
                obcaecati a inventore
                veritatis sint. Totam incidunt illo eum enim distinctio quod fugit rem voluptatem ratione, error iusto
                nemo.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem hic, obcaecati a inventore
                veritatis sint. Totam incidunt illo eum enim distinctio quod fugit rem voluptatem ratione, error iusto
                nemo.</p>
        </div>
    </section>
    <footer>
        <p>Copyright © 2012-2013 cssauthor.com;</p>
    </footer>

</body>

</html>