<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 5</title>
    <link rel="stylesheet" href="style-layout5.css">
    <link rel="stylesheet" href="fonts/opensans/opensans.css">
</head>

<body>
    <div class="container">
        <header>
            <nav class="navigator">
                <div>Solutions</div>
                <div>Products</div>
                <div>Portfolio</div>
                <div>Contact</div>
            </nav>
            <div class="leo">
                Leo/-
            </div>
            <img src="img/layers.png" class="cup" alt="">
            <img src="img/left_arrow.png" class="left-arrow" alt="">
            <img src="img/right_arrow.png" class="right-arrow" alt="">
            <div class="header-text">
                <p class="intr">Introducing</p>
                <p class="some">Something hot......</p>
            </div>
            <a href="" class="button">
                <div>
                    Try Demo
                </div>
            </a>




        </header>
        <section class="section-1">
            <div class="container-section-1">
                <div class="x">
                    <div class="hexagon blue">
                        <img src="img/phone.png" class="phone" alt="">
                    </div>
                    <div class="resp-web-text">
                        <p>Responsive</p>
                        <p>Website</p>
                    </div>

                </div>
                <div class="y">
                    <div class="hexagon yellow">
                        <img src="img/trolley.png" class="phone" alt="">
                    </div>
                    <div class="com-web-text">
                        <p>e Commerce</p>
                        <p>Websites</p>
                    </div>
                    <div class="ipad-descr">
                        <img src="img/ipad.png" alt="">
                        <p class="ipad-p-main">Lorem Ipsum is simply dummy text</p>
                        <p class="ipad-p-lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
                            laudantium,
                            debitis, recusandae error
                            voluptatem eaque neque totam voluptates molestiae doloremque tempora maxime nam esse
                            eligendi
                            voluptate et beatae sed minus numquam necessitatibus explicabo consequatur fuga reiciendis.
                            Aut
                            veritatis voluptate illum non, ipsa fugiat reiciendis soluta ea nam consectetur recusandae,
                            dicta
                            ullam cum nesciunt qui id repudiandae in enim ad tempore. Repudiandae ducimus omnis labore.
                            Beatae
                            quod amet blanditiis libero culpa ab exercitationem, itaque nisi. <br>Omnis voluptatibus nam
                            quod autem
                            eligendi pariatur, enim vitae tenetur beatae fugiat nihil corrupti modi ut animi blanditiis
                            inventore, repudiandae dolorum quis impedit debitis? Odit repellendus architecto impedit.
                            Natus,
                            totam! Dignissimos enim, cupiditate quibusdam nobis, velit voluptas, delectus modi corrupti
                            dolor ut
                            ipsum? Veritatis impedit debitis deserunt! Temporibus, est beatae! Cumque ab consequatur
                            provident

                        </p>
                    </div>
                </div>
                <div class="i">
                    <div class="hexagon green">
                        <img src="img/earth.png" class="earth" alt="">
                    </div>
                    <div class="dail-web-text">
                        <p>Daily blog</p>
                        <p>Websites</p>
                    </div>
                </div>
                <div class="z">


                    <div class="hexagon orange">
                        <img src="img/zoom.png" class="zoom" alt="">
                    </div>
                    <div class="search-web-text">
                        <p>Search based</p>
                        <p>Websites</p>
                    </div>

                </div>

            </div>
            <div class="paint-why-choose">
                <img src="img/paint.png" alt="">
                <div class="choose-us">
                    <p>Why choose us?</p>
                    <ul>
                        <li>Lorem Ipsum is simply dummy text of the prinе</li>
                        <li>Lorem Ipsum is simply dummy text of the prinе</li>
                        <li>Lorem Ipsum is simply dummy text of the prinе</li>
                        <li>Lorem Ipsum is simply dummy text of the prinе</li>
                        <li>Lorem Ipsum is simply dummy text of the prinе</li>
                        <li>Lorem Ipsum is simply dummy text of the prinе</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section-2">
            <form action="" class="login">
                <div class="member">Member login</div>
                <input class="name" type="name" placeholder="User name">
                <input class="pass" type="password" placeholder="Password">
                <input class="log" type="submit" value="Log me in">
            </form>
            <form action="" class="subscribe">
                <div class="member">Subscribe to our weekly newsletter</div>
                <input class="emaill" type="email" placeholder="email addres">

                <input class="sub" type="submit" value="Subscribe">
            </form>
        </section>
        <footer>
            <div class="about">
                <p>About Us</p>
                <ul>
                    <li>About us</li>
                    <li>Why us</li>
                    <li>Customer stories</li>
                    <li>Press Resources</li>
                    <li>Press Releases</li>
                    <li>Contact us</li>
                </ul>
            </div>
            <div class="about mar">
                <p>About Us</p>
                <ul>
                    <li>About us</li>
                    <li>Why us</li>
                    <li>Customer stories</li>
                    <li>Press Resources</li>
                    <li>Press Releases</li>
                    <li>Contact us</li>
                </ul>
            </div>
            <div class="testimoanials">
                <p class="p-test">Testimoanials
                    <img src="img/left.png" alt="">
                    <img src="img/right.png" alt="">
                </p>
                <ul>
                    <li>Lorem Ipsum is simply dummy text of the printing and


                    </li>
                    <li>typesetting industry. Lorem Ipsum has been the industr</li>
                    <li> standard dummy text ever since the 1500s, </li>
                    <li>when an unknown printer took a</li>
                </ul>
                <p class="p-lorem">
                    Lorem Ipsum is simply<br>Owner, Lorem Ipsum
                </p>
            </div>
            <div class="leon">
                <p class="leon-txt">Leo/-</p>
                <p class="adress">&copy cssauthor.com</p>
            </div>
        </footer>

    </div>
</body>

</html>