<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="style-layout-8.css">
    <link rel="stylesheet" href="fonts/bebas/bebas.css">
</head>

<body>
    <header class="header ">
        <nav class="width-nav navbar navbar-expand-xxl navbar-light  position-relative ">
            <div class="container header-position-relative">
                <button class="navbar-toggler buttons-navbar" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon nav-borders"></span>
                </button>
                <img class="navbar-img" src="img/logo.png" alt="">
                <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">

                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                        <li class="nav-item ">
                            <a class=" nav-txt" href="#">обо мне</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-txt" href="#">портфолио</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-txt" href="#">услуги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-txt" href="#">контакты</a>
                        </li>
                </div>
                <div class="zoom">
                    <form action="#"  class="searcher" >
                        <input type="search" placeholder="Поиск..">
                    </form>
                </div>
                
                <div class="logo navbar-collapse collapse justify-content-end" id="navbarTogglerDemo01">

                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
                        <li class="">
                            <a class="nav-link VK" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link facebook" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link inst" href="#"></a>
                        </li>

                </div>
            </div>
        </nav>

    </header>
    <section>
        <div id="carouselExampleControls" class="carousel carousel-dark slide position-relative"
            data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/sloy_4_7483.png" class="d-block w-100" alt="...">
                    <div class="carousel-txt">
                        <div class="wedding-txt mb-lg-3">свадебная фотосессия</div>
                        <div class="display-6 carousel-data mb-lg-4">02.10.2016</div>
                        <button type="button" class="btn  button-carousel mt-lg-4">подробнее</button>
                    </div>
                </div>
                <div class="carousel-item ">
                    <img src="img/sloy_4_7483.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev carousel-button-left" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-left " aria-hidden="true"></span>

            </button>
            <button class="carousel-control-next carousel-button-right  " type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-right " aria-hidden="true"></span>

            </button>


        </div>
    </section>
    <section class="section-2 ">
        <div class="section-gallery d-flex flex-column justify-content-center align-center">

            <div class="portfolio ">
                <div class="black-line"></div>
                <div class="portfolio-txt"> портфолио</div>
                <div class="red-line"></div>
            </div>

            <div class="gallery-1">
                <div class="foto">
                    <div class="description">
                        <div class="descr-txt">Детская съемка</div>
                        <div class="descr-txt">16.09.2016</div>
                        <button type="button" class="btn btn-outline-light mt-1 descr-button">подробнее</button>
                    </div>
                    <img src="img/foto_1.png" alt="">
                </div>
                <div class="foto">
                    <div class="description">
                        <div class="descr-txt">Детская съемка</div>
                        <div class="descr-txt">16.09.2016</div>
                        <button type="button" class="btn btn-outline-light mt-1 descr-button">подробнее</button>
                    </div>
                    <img src="img/foto_2.png" alt="">
                </div>
                <div class="foto">
                    <div class="description">
                        <div class="descr-txt">Детская съемка</div>
                        <div class="descr-txt">16.09.2016</div>
                        <button type="button" class="btn btn-outline-light mt-1 descr-button">подробнее</button>
                    </div>
                    <img src="img/foto_3_.png" alt="">
                </div>
                <div class="foto">
                    <div class="description">
                        <div class="descr-txt">Детская съемка</div>
                        <div class="descr-txt">16.09.2016</div>
                        <button type="button" class="btn btn-outline-light mt-1 descr-button">подробнее</button>
                    </div>
                    <img src="img/foto_4.png" alt="">
                </div>
                <div class="foto"><img src="img/foto_5.png" alt=""></div>
                <div class="foto"><img src="img/foto_6.png" alt=""></div>
                <div class="foto"><img src="img/foto_7.png" alt=""></div>
                <div class="foto"><img src="img/foto_8.png" alt=""></div>
                <div class="foto"><img src="img/foto_9.png" alt=""></div>
                <div class="foto"><img src="img/foto_10.png" alt=""></div>
                <div class="foto"><img src="img/foto_11.png" alt=""></div>
                <div class="foto"><img src="img/foto_12.png" alt=""></div>

            </div>
            <div class="bottom-button-area">
                <button type="button" class="btn btn-outline-danger btn-lg bottom-button">подробнее</button>
            </div>
        </div>
    </section>
    <section class="bci-services">
        <div class="container ">
            <div class="service">
                <div class="white-line"></div>
                <div class="service-txt"> услуги</div>
                <div class="red-line_2"></div>
            </div>
            <div class="gallery mt-2 ">
                <div class="foto-2 mr-lg-4 ">
                    <img src="img/sloy_logo1.png" alt="">
                    <div class="logo-txt pt-3">Репортажная сьемка</div>
                </div>
                <div class="foto-2 ">
                    <img src="img/sloy_logo2.png" alt="">
                    <div class="logo-txt pt-3">Портретная сьемка</div>
                </div>
                <div class="foto-2 ">
                    <img src="img/sloy_logo3.png" alt="">
                    <div class="logo-txt pt-3">Индивидуальная сьемка</div>
                </div>
                <div class="foto-2 ">
                    <img src="img/sloy_logo4.png" alt="">
                    <div class="logo-txt pt-3">Рекламная сьемка</div>
                </div>
                <div class="foto-2 ">
                    <img src="img/sloy_logo5.png" alt="">
                    <div class="logo-txt pt-3">Love Story</div>
                </div>
                <div class="foto-2 ">
                    <img src="img/sloy_logo6.png" alt="">
                    <div class="logo-txt pt-3">Фотосессии в стиле НЮ</div>
                </div>
                <div class="foto-2 ">
                    <img src="img/sloy_logo7.png" alt="">
                    <div class="logo-txt pt-3">Студийные фотосьемка</div>
                </div>
                <div class="foto-2 ">
                    <img src="img/sloy_logo8.png" alt="">
                    <div class="logo-txt pt-3">Детская фотосьемка</div>
                </div>
                <div class="foto-2 ">
                    <img src="img/sloy_logo9.png" alt="">
                    <div class="logo-txt pt-3">Фотосессия Образ</div>
                </div>
                <div class="foto-2 disabled">
                    <img src="img/sloy_logo10.png" alt="">
                    <div class="logo-txt pt-3">Newborn фотосъёмка</div>
                </div>
                <div class="foto-2 disabled">
                    <img src="img/sloy_logo11.png" alt="">
                    <div class="logo-txt pt-3">Model photo</div>
                </div>
                <div class="foto-2 disabled">
                    <img src="img/sloy_logo12.png" alt="">
                    <div class="logo-txt pt-3">Wedding in Europe</div>
                </div>

            </div>
        </div>
    </section>
    <section>

        <div class="container">
            <div class="portfolio">
                <div class="black-line"></div>
                <div class="portfolio-txt"> Контакты</div>
                <div class="red-line"></div>
            </div>
            <div class="row contact-form">
                <div class="col-lg-2 contact-form-logo">
                    <div>
                        <button type="button" class="btn btn-outline-danger btn-lg contact-form-vk w-100"></button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-danger btn-lg contact-form-face w-100"></button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-danger btn-lg contact-form-inst w-100"></button>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="row call-back-form">
                        <div class="col-lg-12 call-back">
                            Обратная связь
                        </div>
                        <form action="#" class=" row">

                            <div class="col-lg-5">


                                <input class="call-back-name" type="text" value="имя">


                            </div>
                            <div class="col-lg-7">


                                <input class="call-back-name" type="email" value="email/номер телефона">


                            </div>
                            <div class="col-lg-12 call-back-margin">


                                <input class="call-back-name" type="text" value="текст сообщения">

                            </div>
                            <div class="call-back-submit">
                                <input type="submit" class="btn btn-outline-danger btn-lg bottom-button"
                                    value="отправить">
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <footer>
        <div class="footer-text">
           <div class="footer-text-name-1"> photographer stanislav gubkin 2016</div>
            <div class="footer-text-name-2">сайт изготовлен командой cv soft</div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>

</html>

</html>