<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-gradient.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="hello">
                Hello Hillel!
            </div>
            <div class="grad-top-left"><div class="lorem">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, numquam.
                Accusantium sit, itaque veniam et eius pariatur excepturi accusamus, odio cumque suscipit est tempore
                quam similique odit corrupti? Quo, accusantium?</div></div>
            <div class="grad-bottom"></div>
            <div class="complete">complete !</div>
        </div>

    </header>
</body>

</html>